
* {
    box-sizing: border-box;

}

@font-face {
    font-family: "Inter-LightBETA";
  font-style: normal;
  font-weight: 300;
  src:url(../fonts/Inter-LightBETA.woff);
}

@font-face {
    font-family: "Inter-Regular";
  font-style: normal;
  font-weight: 400;
  src:url(../fonts/Inter-Regular.woff);
}

@font-face {
    font-family: "Inter-Medium";
  font-style: normal;
  font-weight: 500;
  src:url(../fonts/Inter-Medium.woff);
}

@font-face {
    font-family: "Inter-SemiBold";
  font-style: normal;
  font-weight: 600;
  src:url(../fonts/Inter-SemiBold.woff);
}

@font-face {
    font-family: "Inter-Bold";
  font-style: normal;
  font-weight: 700;
  src:url(../fonts/Inter-Bold.woff);
}

@font-face {
    font-family: "Inter-Black";
  font-style: normal;
  font-weight: 900;
  src:url(../fonts/Inter-Black.woff);
}



body {
    background: rgb(133,18,255);
    background: linear-gradient(90deg, rgba(133,18,255,1) 0%, rgba(15,46,82,1) 100%);
    padding: 10px;
}

.main-block {
    max-width: 1000px;
    height: 580px;
    background: rgb(255,255,255);
    background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(236,246,255,1) 89%, rgba(241,248,255,1) 100%);
    margin: 20px auto 0 auto;
    padding: 20px;
    border-radius: 20px;
}

@media (max-width:768px) {
    .main-block {
        height: 100%;
    }
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 80px 1fr 1fr 1fr;
    grid-template-areas: 
        "aside nav nav"
        "aside main side"
        "aside main side"
        "aside main side"
    ;

}

@media (max-width: 768px) {
.container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 16% 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "nav nav"
        "main main"
        "main main"
        "main main"
        "side side";
    }
}

.navigation {
    grid-area: nav;
}

.navigation-block {
    display: grid;
    gap: 10px;
    grid-template-columns: 65.72% 1fr;
}

@media (max-width:768px) {
    .navigation-block {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

.left__navigation-block {
    display: flex;
    justify-content: space-between;
    line-height: 26px;
}

@media (max-width:480px) {
    .name-item {
        line-height: 20px;
    }
}

.name-text {
    padding-left: 10px;
    font-family: "Inter-Regular";
}

@media (max-width:480px) {
    .name-text {
        font-size: 12px;
        padding: 0;
    }
}

strong {
    font-size: 26px;
    font-family: "Inter-Bold";
}

@media (max-width:992px) {
    strong {
        font-size: 18px;
    }
}

@media (max-width:480px) {
    strong {
        font-size: 12px;
        font-family: "Inter-Bold";
    }
}

.upload-item {
    display: flex;
    justify-content: end;
    align-items: center;
}

.upload-button {
    padding: 7px 12px;
    border-radius: 5px;
    border: none;
    background-color: #ffc800;
    font-family: "Inter-Bold";
    font-size: 14px;
}

.upload-button:hover {
    box-shadow: 0px 0px 5px 1px rgba(255, 213, 0, 0.6)
}

@media (max-width:480px) {
    .upload-button {
        font-size: 12px;
        width: 80px;
    }
}

.right__navigation-block {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 10px;
}

@media (max-width: 768px) {
    .right__navigation-block {
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas: "burger search notification";
        align-content: space-between;
        align-items: center;
    }
}

.burger {
    display: none;
}

@media (max-width:768px) {
    .burger {
        display: block;
        padding: 0;
        grid-area: burger;
        justify-self: baseline;
    }
}

.search-block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media (max-width:768px) {
    .search-block {
        align-items:flex-start;
        justify-content: space-between;
        grid-area: search;
    }
}

.input {
    width: 100%;
}

.search {
    padding: 7px 12px;
    border-radius: 5px;
    border: none;
    width: 100%;
    background-color: aliceblue;
    outline: none;
    font-family: "Inter-LightBETA";
    font-size: 14px;
}



.notif-block {
    display: flex;
    align-items: center;
}

@media (max-width:768px) {
    .notif-block {
        align-items: flex-start;
        grid-area: notification;
        justify-self: end;
    }
}

.notif {
    border-radius: 100%;
    padding: 5px 8px;
    background-color: aliceblue;
}

.img-nt {
    width: 15px;
}

.notif:hover {
    box-shadow: 0px 0px 5px 1px rgba(132, 12, 202, 0.2)
}

.left-sidebar {
    grid-area: aside;
}

@media (max-width:768px) {
    .left-sidebar {
        display: none;
    }
}

.left-sidebar-block {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 6fr 2fr;
    padding: 10px;
    gap: 10px;
    background-color:rgb(132, 12, 202);
    border-radius: 20px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

@media (max-width:768px) {
    .left-sidebar-block {
        display: none;
    }
}


.aside-logo-block {
    padding: 10px;
    display: flex;
    justify-content: center;
}   

.aside-logo {
    height: 50px;
    width: 100px;
    text-align: center;
    padding-top: 5px;
    font-size: 30px;
    font-weight: 700;
    color: aliceblue;
    font-family: "Inter-Black";
}

.aside-menu-block {
    display: grid;
    gap: 5px;
    padding: 0px 0 20px 0;
    font-family: "Inter-Regular";
}

span {
    padding-left: 20px;
    color: aliceblue;
    font-weight: 500;
}

.admin {
    padding-bottom: 10px;
    font-family: "Inter-LightBETA";
    font-size: 13px;
    opacity: 0.8;
}

.aside-menu__button {
    border-radius: 5px;
    padding: 6px;
}

.aside-menu__button:hover {
background-color: #ffc800;
}

.aside-menu__button:hover span{
    color: black;
    }

.aside-help-block {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(244, 237, 252, 0.45);
    border-radius: 20px;
    }
    
.help-text {
    text-align: center;
    color: aliceblue;
    font-family: "Inter-LightBETA";
    font-size: 14px;
}

.help-button {
    background-color: #ffc800;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 150px;
    padding: 5px;
    font-family: "Inter-Bold";
}

.help-button:hover {
    box-shadow: 0px 0px 5px 1px rgba(255, 213, 0, 0.6)
} 

.hero {
    grid-area: main;
}

.hero-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "refferal refferal"
        "product earning"
        "download download"
    ;
}

.refferal {
    grid-area: refferal;
    background: rgb(90,17,167);
    background: linear-gradient(90deg, rgba(90,17,167,1) 0%, rgba(15,46,82,1) 100%);
    padding: 20px;
    display: flex;
    
}

.refferal:hover {
    transform: scale(1.03);
    transition: ease-in-out 0.1s ;
}

@media (max-width:768px) {
    .refferal {
        justify-content: space-around;
    }
}

.item {
    background-color:aliceblue;
    border-radius: 20px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    
}

.refferal__left-block {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding:0;
    
}

.refferal__title {
    color: aliceblue;
    margin: 0;
    font-size: 24px;
    font-family: "Inter-Regular";
}

@media (max-width:480px) {
    .refferal__title {
        font-size: 16px;
    }
}

.refferal__button {
    background-color: #ffc800;
    font-weight: 700;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 150px;
    padding: 7px;
    font-family: "Inter-Bold";
    font-size: 14px;
}

.refferal__button:hover {
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.6)
}

@media (max-width:480px) {
    .refferal__button {
        width: 90px;
        padding: 5px;
        font-size: 12px;
    }
}

.refferal__right-block {
    width: 40%;
    display: flex;
    justify-content: center;
}

.refferal__img {
    
    width: 70%;
    height: auto;
    
}

@media (max-width:768px) {
    .refferal__img {
    
        width: 100px; 
    }
}

.product {
    grid-area: product;
    padding: 10px 15px;
}

.product:hover {
    transform: scale(1.05);
    transition: ease-in-out 0.1s ;
}

@media (max-width:768px) {
    .product {
        padding: 5%;  
    }
}

.product-img {
    width: 100px;
    float: right;
}

@media (max-width:992px) {
    .product-img {
        width: 75px;
        float: none;
        margin: 0 auto;
        display: block;

    }
}

@media (max-width:768px) {
    .product-img {
        width: 110px;
    }
}

.up-item--gap {
    padding-left: 5px;
}

@media (max-width:992px) {
    .up-item__wrapper br {
        display: none;
    }
}

@media (max-width:768px) {
    .up-item__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.up-item__text {
    font-weight: 700;
    font-size: 25px;
    margin: 0;
    padding: 10px 0 5px 5px; 
    font-family: "Inter-SemiBold";
}

@media (max-width:992px) {
    .up-item__text {
        font-size: 18px;
        padding: 0; 
        text-align: center;
    }
}

.item__change {
    margin: 0;
    padding: 0 0 0 5px;
    font-size: 12px;
    font-family: "Inter-Regular";
}

@media (max-width:992px) {
    .item__change {
        padding: 0;
        font-size: 12px;
        text-align: center; 
    }
}

.earning {
    grid-area: earning;
    padding: 10px 15px;
}

@media (max-width:768px) {
    .earning {
        padding: 5%;
    }
}

.earning:hover {
    transform: scale(1.05);
    transition: ease-in-out 0.1s ;
}

.item-input {
    padding: 5px;
    text-transform: uppercase;
    font-family: "Inter-SemiBold";
    font-size: 14px;
}

.item-input::before {
    content: "....";
    padding: 1px;
    background-color: rgb(133,18,255);
    color: rgb(133,18,255);
    border-radius: 50%;
    margin-right: 5px;
}

@media (max-width:992px) {
    .item-input {
        padding: 0px;
        font-size: 12px;
        text-align: center;
    }
}

@media (max-width:768px) {
    .item-input {
        font-size: 10px;
    }
}

.img-dw {
    float: right;
    width: 100px;
    position: relative;
    bottom: 20px;
}

@media (max-width:992px) {
    .img-dw {
        position: static;
    }
}

@media (max-width:768px) {
    .img-dw {
        width: 150px;
    }
}

@media (max-width:768px) {
    .download-img{
        display: flex;
        width: 100%;
    }
}

.download {
    grid-area: download;
    padding: 10px 15px;
    overflow: hidden;
}

.download:hover {
    transform: scale(1.03);
    transition: ease-in-out 0.1s ;
}

@media (max-width:768px) {
    .download__wrapper {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width:768px) {
    .download {
       display: flex;
       flex-direction: column;
       justify-content: space-around;
    }
}

.download__text {
    font-weight: 700;
    font-size: 25px;
    margin: 0;
    padding: 20px 0 5px 5px; 
    font-family: "Inter-SemiBold";
    
}

@media (max-width:992px) {
    .download__text {
        font-size: 18px;
        padding: 0;
    }
}

@media (max-width:768px) {
    .download__wrapper-text {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
    }
}

@media (max-width:480px) {
    .download__wrapper-text {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        text-align: end;
    }
}

.download__item {
    margin-top: 10px;
    padding: 0 0 0 5px;
    font-size: 12px;
    font-family: "Inter-Regular";
    
}

@media (max-width:992px) {
    .download__item {
        margin: 0px;
        padding: 0;  
    }
    
}


.right-sidebar {
    grid-area: side;
    
}

.right-sidebar-grid {
    display: grid;
    gap: 10px;
    grid-template-rows: 290px 1fr;
}

@media (max-width:768px) {
    .right-sidebar-grid {
        grid-template-rows: 100% 100%;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:480px) {
    .top-users-wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
}

.top-users {
    padding: 10px 15px;
}

.top-users:hover {
    transform: scale(1.05);
}

@media (max-width:480px) {
    .top-users {
        padding: 5%;
    }
}

.top-users__img {
    display: none;
}

@media (max-width:480px) {
    .top-users__img {
        display: flex;
        width: 110px;
    }
}

.list-users {
    counter-reset: item;
    line-height: 45px;
    list-style: none;
    padding: 15px 0 0 0;
    margin: 0;
}

@media (max-width:992px) {
    .list-users {
        font-size: 14px;
    }
}

@media (max-width:768px) {
    .list-users {
        line-height: 25px;
    }
}

@media (max-width:480px) {
    .list-users {
        display: none;
    }
}

.list-item {
    font-family: "Inter-Regular";
}

.list-item::before {
    content: counter(item);
    counter-increment: item;

    padding: 2px 6px;
    background-color: #ffc800;
    color: black;
    border-radius: 50%;
    margin-right: 15px;
    font-size: 14px;
    font-family: "Inter-SemiBold";
}

.btn-side {
    border-radius: 5px;
    padding: 6px;
    border: none;
    background-color: aliceblue;
    max-width: 70%;
    text-align: left;
}

.btn-side:hover {
    background-color: #ffc800;
}

@media (max-width:992px) {
    .btn-side {
        padding: 0;
    }
}

@media (max-width:768px) {
    .btn-side {
        padding: 0 5px;
        max-width: 100%;
    }
}

@media (max-width:768px) {
    .balances__wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
    }
}

.balances {
    padding:10px 15px;
    
}

.balances:hover {
    transform: scale(1.05);
    transition: ease-in-out 0.1s ;
}

.money {
    text-align: center;
    font-size: 25px;
    margin: 0;
    padding: 14px 0;
    font-family: "Inter-SemiBold";
}

@media (max-width:992px) {
    .money {
        font-size: 18px;
    }
}

@media (max-width:480px) {
    .money {
        font-size: 12px;
    }
}

.withdraw {
    padding: 7px 14px;
    border-radius: 5px;
    border: none;
    background-color: #ffc800;
    width: 150px;
    display: block;
    margin: 0 auto;
    font-family: "Inter-Bold";
    font-size: 14px;
}

.withdraw:hover {
    box-shadow: 0px 0px 5px 1px rgba(255, 213, 0, 0.6)
}

@media (max-width:480px) {
    .withdraw {
        width: 90px;
        font-size: 12px;
    }
}
